<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Rock-Paper-Scissors by Alex A</h1>
    <form action="/game" method="post">

        <input type="text" placeholder="Enter Name" id="player1Name" name="player1Name" required>
        <br>
        <input type="text" placeholder="Enter Name" id="player2Name" name="player2Name">
        <br>
        <input type="radio" name="gameType" value="vsAI" required />
        <label>vs AI</label>
        <input type="radio" name="gameType" value="localTwoPlayer" />
        <label>Local 2-Player</label>
        <br>
        <input id="names-submit" type="submit" value="Submit!">

    </form>
</body>

</html>