<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Rock-Paper-Scissors</h1>
    <form action="/game" method="post">

        <input type="text" placeholder="Enter Name" id="player1Name" name="player1Name" required>
        <br>
        <input type="radio" name="gameType" value="vsAI" required />
        <label>vs AI</label>
        <input type="radio" name="gameType" value="localTwoPlayer" disabled />
        <label>Local 2-Player {COMING SOON!}</label>
        <br>
        <input type="radio" name="bestOf" value="oneRound" required />
        <label>1 Round</label>
        <input type="radio" name="bestOf" value="bestOfThree" required />
        <label>Best of 3</label>
        <input type="radio" name="bestOf" value="bestOfFive" required />
        <label>Best of 5</label>
        <input id="names-submit" type="submit" value="Submit!">

    </form>
</body>

</html>